@font-face {
  font-family: "Short Stack";
  src: url("./font/ShortStack-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
body {
  background-image: url("./assets/images/bet.jpeg");
  background-size: cover;
  background-repeat: repeat;
  background-color: rgba(0, 0, 0, 0.7);
  background-blend-mode: darken;
  background-position: center center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  
}

.card {
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-family: "Short Stack", sans-serif;
  color: rgb(212, 107, 107);
}
.card-card {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: baseline;
  flex-direction: column;
}
.card-card__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
}
.card-card__image {
width: 15rem;
}

.card-card__close {
  width: 30px;
  height: 30px;
}
